
@import 'office-ui-fabric-core/dist/sass/References';


.list {
  @include ms-bgColor-white; // Using mixins
  box-sizing: border-box;
  padding:20px;
  margin: 10px 0;
}


.item {
  display: flex;
  margin-bottom:12px;

}

.itemName {
  flex-basis: 200px;
}
